.Navigation-bar {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  letter-spacing: 0.2em;
}

.App-header {
  font-family: Georgia; 
  background: url("https://images.unsplash.com/photo-1531335773500-23410807365a?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: fixed;
  background-size: 100% 150%;
  background-position-x: 50%;
  background-position-y: 30%;
  padding-bottom: 700px;
}

.Logo {
  width: 4em;
  height: 5em;
  display: flex;
  justify-content: left;
  margin-right: auto;
}

.Text-block {
  background-color: #62A2A8 ;
  display: flex;
  margin-top: 51%;
}

td.Text-block {
  border-collapse: collapse;
  padding-left: auto;
}
